!!! 5
//if lt IE 7
	html.no-js.lt-ie9.lt-ie8.lt-ie7(lang='en')
//if IE 7
	html.no-js.lt-ie9.lt-ie8(lang='en')
//if IE 8
	html.no-js.lt-ie9(lang='en')
//[if gt IE 8]><!
html.no-js(lang='en')
	//<![endif]
	head
		meta(charset='utf-8')
		- var page_title = page_title || ''
		title #{page_title} | Jimmy Hillis: blog, music, code
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		meta(name='viewport', content='width=device-width')
		link(rel='stylesheet', href='/stylesheets/styles.css')
		//- script(src='/javascripts/libs/modernizr-2.5.3.min.js')
		- var body_class = body_class || ''
		body(class=body_class)
			#wrapper
				block header
					block page_title
						header.page-header
							h1.page-title
								a(href='/') jimmy-hillis
							small.page-subtitle Code, books, and music, though not always in that order.
					block navigation
						nav.primary-nav.clearfix
							ul.page-navigation
								li
									a.nav-link(href='/') blog
								li
									a.nav-link(href='/music') music
								li
									a.nav-link(href='/lab') lab
								li
									a.nav-link(href='/contact') moi
						nav.social-media
							ul
								li
									a(href='//twitter.com/ppjim3', data-widget='feed-twitter').twitter Twitter
								li
									a(href='//instagr.am/jimmyhillis', data-widget='feed-instagram').instagram Instagram
								li
									a(href='//last.fm/user/ppjim3', data-widget='feed-lastfm').last-fm Last.fm
					- if (user)
						nav.cms-tools
							ul
								li
									a(href='/post') View Posts
								li
									a(href='/post/new/') Add Post

				block copy
					.copy.clearfix !{body}

				block footer
					footer.page-footer
						.colophon
								:markdown
									This website was created using open source software
									including [node.js](//nodejs.org),
									[express](//expressjs.com/), [less](//lesscss.org), and
									[jade](//jade-lang.com). You can see it all on
									[GitHub](//github.com/jimmyhillis/jimmy.hillis.me) too.

						//- nav.projects.bottom-nav.clearfix
						//- 	ul
						//- 		//- li.nav-header Projects
						//- 		li
						//- 			a(href="//github.com/jimmyhillis") GitHub
						//- 		li
						//- 			a(href="/lab/comicbox.js") Comicboxjs

						//- nav.social.bottom-nav.clearfix
						//- 	ul.nav.nav-list
						//- 		//- li.nav-header Social Media
						//- 		li
						//- 			a(href="//twitter.com/ppjim3") Twitter
						//- 		li
						//- 			a(href="//twitter.com/ppjim3") Last.fm
						//- 		li
						//- 			a(href="//www.goodreads.com/user/show/5464248-jimmy-hillis") Goodreads

						//- nav.friends.bottom-nav.clearfix
						//- 	ul.nav.nav-list
						//- 		//- li.nav-header Friends
						//- 		li
						//- 			a(href="//hatchd.com.au") Hatchd Digital

			block scripts
				script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js')
				script(src='/javascripts/ui-min.js')

			script
				var _gaq=[['_setAccount','UA-31741846-1'],['_trackPageview']];
				(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
				g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
				s.parentNode.insertBefore(g,s)}(document,'script'));
