!!! 5
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7(lang='en')
//if IE 7
  html.no-js.lt-ie9.lt-ie8(lang='en')
//if IE 8
  html.no-js.lt-ie9(lang='en')
//[if gt IE 8]><!
html.no-js(lang='en')
  //<![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title #{title} | Jimmy Hillis: blog, music, code
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='stylesheets/bootstrap.min.css')
    //-link(rel='stylesheet', href='stylesheets/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='stylesheets/style.css')
    link(rel='stylesheet', href='stylesheets/fonts.css')
    //-script(src='javascripts/libs/modernizr-2.5.3.min.js')

  body

    div.navbar.navbar-fixed-top
      div.navbar-inner
        div.container
          ul.nav
            li
              a(href='/') jimmy.hillis
            li 
              a(href='/lab') lab
            li 
              a(href='/contact') contact
    
    div.container-fluid
      div.row-fluid
        div.content.copy.span9!=body
        div.sidebar.span3
          aside.sub.twitter
            h3 Twitter 
              small @ppjim3
            .twitter-feed My twitter feed will go here
            //- a.btn.btn-small(href='//twitter.com/#!ppjim3')
              i.icon-music
              View Profile
          aside.sub.last-fm
            h3 Last.fm
            .last-fm-feed 
              p My most recent plays, feel free to look and become a friend to compare music. Mostly move between indie, electronica, and hardcore music.
            //- a.btn.btn-small(href='//last.fm/user/ppjim3') 
              i.icon-music 
              View Profile
          //-aside.sub.goodreads
            h3 Goodreads Is Here!
            .goodreads-feed What I'm currently reading
            //- a.btn.btn-small(href='//www.goodreads.com/user/show/5464248-jimmy-hillis') 
              i.icon-music 
              View Profile

    .footer
      :markdown
        This website was created by Jimmy Hillis using open source software. [node.js](//nodejs.org), [express](//expressjs.com/), [less](//lesscss.org) : You can se it all on [github](//github.com/jimmyhillis/jimmy.hillis.me)


    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    script
      window.jQuery || document.write('<script src="javascripts/libs/jquery-1.7.2.min.js"><\\/script>')
    script(src='javascripts/bootstrap.min.js')
    script(src='javascripts/tweets.js')
    script
      var _gaq=[['_setAccount','UA-31741846-1'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));