- var post = post || {}
form.cms-post(action='/post', name='new-post', method='post')
	ol
			li
				label: span Name
				input(type='text', name='name', value=post.name)
			li
				label: span Title
				input(type='text', name='title', value=post.title)
			li
				label: span Posted
				input(type='date', name='posted', value=dateformat(post.posted, 'YYYY-MM-DD'))
			li
				label: span Copy
				textarea(name='copy')= post.copy
	- if (post._id)
		input(type='hidden', name='_method', value='put')
		input(type='hidden', name='_id', value=post._id)
		input(type='submit', name='update', value='Update')
	- else
		input(type='submit', name='add', value='Add')
