extends ../base

block copy
	.current
		h2 Current Posts
		table.cms-list
			thead
				tr
					th Title
					th Date
					th Actions
			tbody
			each post in posts
				tr
					td: a(href='/post/#{post.name}') #{post.title}
					td #{dateformat(post.posted)}
					td
						a.button(href='/post/#{post.name}/edit') edit
						form(method='post', action='/post/#{post.name}')
							input(type='hidden', name='_method', value='delete')
							input(type='hidden', name='id', value=post._id)
							input(type='submit', name='delete', value='delete')
	block edit
		.new
			h2 New Post
			include form
