//- Single post markup with title, date, and related information
mixin singlepost (post, show_comments)
	article.post
		h1.p-title
			a(href='/post/#{post.name}') #{post.title}
		.p-date This article was posted 
			span.date #{dateformat(post.posted)}
		.p-body!= markdown(post.copy)
		- if (show_comments)
			nav.p-share.clearfix#share
				p.s-copy Share this article on
				ul
					li.s-link: a(href=social_media.twitter) Twitter
					li.s-link: a(href=social_media.facebook) Facebook
					li.s-link: a(href=current_url) URL
			.p-comments#p-comments
				h2 Commentary
				#disqus_thread
				noscript Please enable JavaScript to view the
					a(href='http://disqus.com/?ref_noscript') comments powered by Disqus
				a(href="http://disqus.com", class="dsq-brlink") comments powered by
					span(class="logo-disqus") Disqus
		- else
			a.p-showcomments(href='/post/#{post.name}#p-comments')
				| Read Commentary  
				span.optional About 
					em #{post.title}
